html {
    font-family: 'Karla', sans-serif;
}

/***********************************
-------------------------------------
    COLORS:

    Black:  #6A6B6E
    Gray:   #E1E1DE
    Pink:   #E2B8B2
    Green:  #C4E2D3

-------------------------------------
 ***********************************/