/***********************************
-------------------------------------
    COLORS:

    Black:  #6A6B6E
    Gray:   #E1E1DE
    Pink:   #E2B8B2
    Green:  #C4E2D3

-------------------------------------
 ***********************************/

html {
    font-family: 'Karla', sans-serif;
}

.content {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

header {
    width: 100%;
    background-color: #E2B8B2;
    height: 45px;
    padding-top: 10px;
    position: fixed;
    font-size: 1.3em;
}
nav {
    display: flex;
}
#links a:link,
#links a:visited,
#links a:hover,
#links a:active {
    color: white;
    text-decoration: none;
    margin-right: 20px;
    margin-top: 8px;
    display: inline-block;
}
#links a:hover {
    text-decoration: underline;
}
#nav_logo {
    background-image: url('../images/logoWHITE.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    text-indent: -9999px;
    width: 30px;
}
#search {
    width: 200px;
    padding: 5px;
    padding-left: 10px;
    border: none;
    border-radius: 100px;
    font-size: 1em;
    color: #E2B8B2;
    margin-left: 20px;
}
#links {
    margin-left: auto;
}